In [13]:
import pandas as pd

In [14]:
# Create a Pandas DataFrame with some features and values
df = pd.DataFrame({
    "Fruit_ID": [1, 2, 3, 4, 5],
    "Fruit_Type": ["Apple", "Banana", "Orange", "Banana", "Apple"],
    "Weight": [120, 150, 100, 130, 110],
    "Color": ["Red", "Yellow", "Orange", "Yellow", "Red"],
    "Taste": ["Sweet", "Sweet", "Sweet", "Sweet", "Sweet"],
    "Price": [2, 3, 2.5, 3, 2],
    "Rating": [4.5, 4.8, 4.3, 4.7, 4.4]
})
print('\n Original df: \n\n'  ,df)

 Original df:

    Fruit_ID Fruit_Type  Weight   Color  Taste  Price  Rating
0         1      Apple     120     Red  Sweet    2.0     4.5
1         2     Banana     150  Yellow  Sweet    3.0     4.8
2         3     Orange     100  Orange  Sweet    2.5     4.3
3         4     Banana     130  Yellow  Sweet    3.0     4.7
4         5      Apple     110     Red  Sweet    2.0     4.4

In [15]:
# Label encode the Color, Shape, and Material features
for col in ["Fruit_Type", "Color", "Taste"]:
    df[col] = df[col].astype("category")
    df[col] = df[col].cat.codes

In [16]:
# Print the DataFrame
print ('\n\nEncoded df: \n\n', df)

Encoded df:

    Fruit_ID  Fruit_Type  Weight  Color  Taste  Price  Rating
0         1           0     120      1      0    2.0     4.5
1         2           1     150      2      0    3.0     4.8
2         3           2     100      0      0    2.5     4.3
3         4           1     130      2      0    3.0     4.7
4         5           0     110      1      0    2.0     4.4

In [18]:
# check your understanding using the house-for-sale dataset
house4sale = pd.DataFrame({
    "House_ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Square_Feet": [1200, 1500, 1800, 900, 2200, 1000, 1600, 1300, 1100, 1700],
    "Bedrooms": [2, 3, 4, 2, 4, 2, 3, 2, 2, 3],
    "Bathrooms": [1, 2, 2, 1, 3, 1, 2, 1, 1, 2],
    "Year_Built": [1995, 2000, 1985, 2005, 2010, 1998, 2002, 1990, 2008, 2015],
    "Price": [150000, 200000, 230000, 120000, 280000, 140000, 210000, 180000, 160000, 220000]
})
print('\n Original house4s Dataframe: \n\n'  ,house4sale)

 Original house4s Dataframe:

    House_ID  Square_Feet  Bedrooms  Bathrooms  Year_Built   Price
0         1         1200         2          1        1995  150000
1         2         1500         3          2        2000  200000
2         3         1800         4          2        1985  230000
3         4          900         2          1        2005  120000
4         5         2200         4          3        2010  280000
5         6         1000         2          1        1998  140000
6         7         1600         3          2        2002  210000
7         8         1300         2          1        1990  180000
8         9         1100         2          1        2008  160000
9        10         1700         3          2        2015  220000

The house4sale DataFrame doesn't contain any categorical data, all the data is in numeric form