In [1]:
import pandas as pd

In [2]:
# create a sample dataframe

data = {
    "Age": [25, 30, 22, 35],
    "Height": [160, 170, 155, 175],
    "Weight": [55, 60, 50, 65],
    "Gender": ["Male", "Female", "Female", "Male"],
    "Income": [50000, 60000, 40000, 70000],
    "Education": ["Bachelor's", "Master's", "Bachelor's", "PhD"],
    "Experience": [2, 5, 1, 7]
}
df = pd.DataFrame(data)

In [3]:
df.head(3)

   Age  Height  Weight  Gender  Income   Education  Experience
0   25     160      55    Male   50000  Bachelor's           2
1   30     170      60  Female   60000    Master's           5
2   22     155      50  Female   40000  Bachelor's           1

In [4]:
# separate the numeric and categorical columnsfeatures for scaling

numeric_features = ["Age", "Height", "Weight", "Income", "Experience"]
numeric_df = df[numeric_features]

# Before scaling
print("\nOriginal DataFrame:\n")
print(df)

Original DataFrame:

   Age  Height  Weight  Gender  Income   Education  Experience
0   25     160      55    Male   50000  Bachelor's           2
1   30     170      60  Female   60000    Master's           5
2   22     155      50  Female   40000  Bachelor's           1
3   35     175      65    Male   70000         PhD           7

In [5]:
# Applying feature scaling using Min-Max Scaling only to numeric features
scaled_numeric_df = (numeric_df - numeric_df.min()) / (numeric_df.max() - numeric_df.min())

print("\nScaled DataFrame:\n")
print(scaled_numeric_df)

Scaled DataFrame:

        Age  Height    Weight    Income  Experience
0  0.230769    0.25  0.333333  0.333333    0.166667
1  0.615385    0.75  0.666667  0.666667    0.666667
2  0.000000    0.00  0.000000  0.000000    0.000000
3  1.000000    1.00  1.000000  1.000000    1.000000

In [6]:
# Modify the scaled values to ensure they are positive
scaled_numeric_df = scaled_numeric_df + abs(scaled_numeric_df.min())

print("\nModified Scaled DataFrame:\n")
print(scaled_numeric_df)

Modified Scaled DataFrame:

        Age  Height    Weight    Income  Experience
0  0.230769    0.25  0.333333  0.333333    0.166667
1  0.615385    0.75  0.666667  0.666667    0.666667
2  0.000000    0.00  0.000000  0.000000    0.000000
3  1.000000    1.00  1.000000  1.000000    1.000000

In [7]:
# Convert scaled values to one significant figure
scaled_numeric_df = scaled_numeric_df.round(1)

print("\nRounded Scaled DataFrame:\n")
print(scaled_numeric_df)

Rounded Scaled DataFrame:

   Age  Height  Weight  Income  Experience
0  0.2     0.2     0.3     0.3         0.2
1  0.6     0.8     0.7     0.7         0.7
2  0.0     0.0     0.0     0.0         0.0
3  1.0     1.0     1.0     1.0         1.0

In [8]:
# Combine the scaled numeric features with non-numeric features
df_scaled = df.copy()
df_scaled[numeric_features] = scaled_numeric_df

# After scaling
print("\nScaled DataFrame:\n")
print(df_scaled)

Scaled DataFrame:

   Age  Height  Weight  Gender  Income   Education  Experience
0  0.2     0.2     0.3    Male     0.3  Bachelor's         0.2
1  0.6     0.8     0.7  Female     0.7    Master's         0.7
2  0.0     0.0     0.0  Female     0.0  Bachelor's         0.0
3  1.0     1.0     1.0    Male     1.0         PhD         1.0